/* impostazioni su tutto il contenuto  */

*{
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* border: 1px dashed black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* /impostazioni su tutto il contenuto  */


/* impostazioni colori sfondi  */


.bg_white{
    background-color: white;
}

.bg_gray{
    background-color:#d3d3d3;
}

/* /impostazioni colori sfondi  */


/* sezione header */


header{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #255ee9;
}

.nav{
    margin: auto;
    width: 800px;
    height: 30px;
    background-color: #255ee9;
    display: flex;
}

.width_logo{
    padding-left: 10px;
    width: 20%;
}

.width_link{
    width: 60%;
}

.link{      
    font-size: small;    
    padding-top: 8px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
}

li{
    padding-left: 10px;
    padding-right: 10px;
}

.login{
    font-size: small;
    border-radius: 35px;
    padding-top: 5px;
    background-color: white;
    text-align: center;
    width: 60px;
    margin-left: 60px;
    margin-top: 2px;
    margin-bottom: 2px;
}


/* /sezione header */


/* sezione main */

main section .row{
    /* height: 300px; */
    display: flex;
}

main > section{
    padding-top: 30px;
    padding-bottom: 30px;
}

.container{
    width: 800px;
    margin: 0 auto;
}

.jumbotron{
background-image: url("../img/jumbo.png");
background-repeat: no-repeat;
background-size: cover;
}

.jumbotron > .container{
    width: 600px;
}

.section_1{
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    
}

.intro{
    margin: 35px;
    color: white;
    text-align: center;
    font-size: large;
}

p{
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
}

.buttons{
    font-size: 14px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

#Mac{
    padding: 10px 20px;
    border-radius: 35px;
    background-color: white;
}

#browser{
    padding: 10px 20px;
    border-radius: 35px;
    background-color: black;
    color: white;

}

h4{
    font-size: 14px;
    text-align: left;
    line-height: 20px;
}










.big_square{
    width: 60%;
}

.small_square{
    width: 40%;
    flex-shrink: 0;
    margin-left: 100px;
    background-color:#ffc0cb;
}

/* come section 2 ma invertito  */

.section_3{
    flex-direction: row-reverse;
}

/* /come section 2 ma invertito  */

#section_5{
    height: 600px;
    background-color:#228b22; 
}

/* /sezione main */





/* sezione footer  */

footer > div{
    display: flex;
    height: 400px;
    background-color:#23272a;
}

.foot_section_1{
    padding-top: 10px;
    justify-content: center;
}

#ante_footer{
    background-color: #f08080;
    width: 800px;
    height: 90%;
    display: flex;   
    justify-content: flex-end; 
}

#ante_footer_2{
    background-color: #20b2aa;
    width: 133px;
    border: 1px dashed white;
}

#foot_section_2{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 20px;
    justify-content: center;
    height: 100px;
}

.end_page{
    background-color: #7fffd4;
    display: flex;
    width: 800px;
    align-items: center;
    justify-content: space-between;
}

.logo_button{
    background-color: #ffb6c1;
    padding: 5px;
}


/* /sezione footer  */