/* impostazioni su tutto il contenuto  */

*{
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* border: 1px dashed black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}




/* /impostazioni su tutto il contenuto  */





/* impostazioni colori sfondi  */

.bg_gray{
    background-color:#f6f6f6;
}

/* /impostazioni colori sfondi  */





/* sezione header */

header{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #255ee9;
}

.nav{
    margin: auto;
    width: 800px;
    height: 30px;
    background-color: #255ee9;
    display: flex;
}

.width_logo{
    padding-left: 10px;
    width: 20%;
}

.width_link{
    width: 60%;
}

.link{      
    font-size: small;    
    padding-top: 8px;
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
}

li{
    padding-left: 10px;
    padding-right: 10px;
}

.login{
    font-size: small;
    border-radius: 35px;
    padding-top: 5px;
    background-color: white;
    text-align: center;
    width: 60px;
    margin-left: 60px;
    margin-top: 2px;
    margin-bottom: 2px;
}

/* /sezione header */





/* sezione main */

main section .row{
    display: flex;
}

main > section{
    padding-top: 30px;
    padding-bottom: 30px;
}

.container{
    width: 800px;
    margin: 0 auto;
}

.jumbotron{
background-image: url("../img/jumbo.png");
background-repeat: no-repeat;
background-size: cover;
}

.jumbotron > .container{
    width: 600px;
}

.section_1{
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    
}

.intro{
    margin: 35px;
    color: white;
    text-align: center;
    font-size: large;
}

h1{
    font-size: 30px;

}

p{
    margin-top: 20px;
    font-size: 12px;
    line-height: 20px;
}

.buttons{
    font-size: 14px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

#Mac{
    padding: 10px 20px;
    border-radius: 35px;
    background-color: white;
}

#browser{
    padding: 10px 20px;
    border-radius: 35px;
    background-color: black;
    color: white;

}

h2{
    font-size: 30px;
    padding-bottom: 20px;
}

h4{
    font-size: 12px;
    text-align: left;
    line-height: 20px;
}

.img{
    max-width:100%;
}

.small_square{
    padding: 30px;
    width: 40%;
    flex-shrink: 0;
}

#section_5{
    display: flex;
    flex-direction: column;
    text-align: center; 
}

#Mac_2{
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 35px;
    background-color:#7288da ;
    color: white;
}

.stars{
    align-self: center;
    background-image: url("../img/stars.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 60%;
}

h3{
    font-size: 24px;
    margin-top: 50px;
    padding-top: 40px;
    margin-bottom: 50px;
}

.end_main{
    padding-bottom: 120px;
}
/* /sezione main */





/* sezione footer  */

footer > div{
    display: flex;
    /* height: 400px; */
    background-color:#23272a;
}

.foot_section_1{
    padding-top: 60px;
    justify-content: center;
}

#ante_footer{
    width: 800px;
    /* height: 90%; */
    display: flex;   
}

/* #ante_footer > div{
    border: 1px dashed white;
} */

.column_1{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.column_1 > h4{
    font-size: 25px;
    margin-bottom: 20px;
    color: #7288da;
    line-height: 32px;
    height: 64px;
}

.footer_links_row{
    display: flex;
}

.flag{
    max-height: 12px;
}

select{
    color: white;
    background-color: rgba(0,0,0,0);
    
}

.column_2{
    color:  #7288da ;
    flex-grow: 2;
    display: flex;
    justify-content: space-between;
}

.footer_links_row >*{
    font-size: 16px;
    color: white;
}


.footer_links_row.language_row{
    justify-content: flex-start;
    align-items: center;
}
.footer_links_row.language_row > *{
    display: block;
}
.margin-right-5{
    margin-right: 5px;
}
.margin-bottom-20{
    margin-bottom: 15px;
}
.margin-right-10{
    margin-right:15px;
}

.font-size-14{
    font-size: 14px;
}

#foot_section_2{
    padding-top: 20px;
    justify-content: center;
    height: 100px;
}

.end_page{
    border-top: 1px solid #546397;
    display: flex;
    width: 800px;
    align-items: center;
    justify-content: space-between;
}

.logo_button{
    font-size: 10px;
    border-radius: 35px;
    background-color: #7288da ;
    padding: 6px;
    color: white;
    padding: 8px 14px;
    margin-bottom: 20px;
}

.footer_links_col{
    width: 100%;
    padding: 0 10px;
}
.footer_links_col > h5{
    font-weight: bolder;
}

/* /sezione footer  */

.column_1 > *{
    width: 100%;
}


i.fa-solid.fa-angle-down{
    font-size: 10px;
}

footer ul{
    list-style: none;
}

footer ul > li{
    margin-left: -10px
}

footer ul > li > a{
    color: white;
    text-decoration: none;
}

footer li:hover{
    text-decoration: underline;
    color: white;
}